<div class="container text-center">
    <h1>About me or this page?</h1>
     <p>This is site is made with ruby on rails.</p>
     I made this site doing a course, offered by Rob Dey that can be found<a href="http://upskillcourses.com/courses/essential-web-developer-course/lectures/1747100"> here</a>
    This site is, however a remake of this one.
    </p>
</div>