/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1, h2, h3 {
  font-family: 'Pathway Gothic One', sans-serif;
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}


.navbar, .home-callout {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#185499+0,207cca+27,22b55d+91,42bc48+97 */
background: #185499; /* Old browsers */
background: -moz-linear-gradient(45deg,  #185499 0%, #207cca 27%, #22b55d 91%, #42bc48 97%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #185499 0%,#207cca 27%,#22b55d 91%,#42bc48 97%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #185499 0%,#207cca 27%,#22b55d 91%,#42bc48 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#185499', endColorstr='#42bc48',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}            

.home-callout {
  color:white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.navbar {
  border-radius:initial;
  border:none;
  color:white;
}

.navbar-brand { 
  font-family: 'Pathway Gothic One', sans-serif;
  font-weight:1000;
}


.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-brand {
  color: white;
   &:hover{
      opacity: 0.70;
      color:white;
   }
   
}


.navbar-default .navbar-toggle .icon-bar  {
  background-color:white;
}

.navbar-default .navbar-toggle {
  border:2px solid white;
  &:hover, &:focus {
      background-color:#e91440;
  }
}


.flash-container {
  position: absolute;
  width: 100%;
}

//home

.home-signup-links{
  margin-top:30px;
}